<ul class="side-menu">
    <li class="row">
        <a class="small-12 columns" ui-sref="home" data-close="left-menu">Home</a>
    </li>
    <li class="row">
        <a class="small-12 columns" ui-sref="reports" data-close="left-menu">Reports</a>
    </li>
    <li class="row">
        <a class="small-12 columns" ui-sref="settings" data-close="left-menu">Settings</a>
    </li>
    <li class="row">
        <a class="small-12 columns" ui-sref="sample-full-screen" data-close="left-menu">Sample full screen view</a>
    </li>
    <li class="row">
        <a class="small-12 columns" ui-sref="sample-no-header" data-close="left-menu">Sample no header view</a>
    </li>
    <li class="row">
        <a class="small-12 columns" ui-sref="sample-no-footer" data-close="left-menu">Sample no footer view</a>
    </li>
</ul>
